.mark_all_read {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    width:16px;
    display:inline-block;
    position: relative;
    top: 2px;
    cursor:pointer;
}
#hide_read_items {
    position: relative;
    top: 2px;
}

.hide_comments_span {
    position: relative;

    font-size: 10px;
}

.near_more {
    position: relative;
    top: 2px;
}

#parent_tr {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
}

.read_comment_td {
    background-color: #EBEBE4;
}

.unread_comment_td {

}

.comment_collapse {
    width: 20px;
    height: 15px;
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.comment_collapse:hover {
    cursor: pointer;
}

#parent_div .comment_collapse {
    display: none;
}

.collapsible_comment {
    position: relative;
}

.plus {
    color: green;
}

.clickable:hover {
    cursor: pointer;
}

#expand_collapse_top {
    padding-left: 27px;
    position: relative;
    top: -3px;
}

#post_comments_tr {
    padding-left: 10px;
}